/bin/
src/qual_2021_A/case1.txt
src/qual_2021_A/case2.txt
src/qual_2021_A/case3.txt
src/qual_2021_A/cases.txt
src/qual_2021_A/input.txt
src/qual_2021_A/Solution.java
src/qual_2021_A/Tester.java
src/qual_2021_B/case1.txt
src/qual_2021_B/case2.txt
src/qual_2021_B/case3.txt
src/qual_2021_B/cases.txt
src/qual_2021_B/input.txt
src/qual_2021_B/Solution.java
src/qual_2021_B/Tester.java
src/qual_2021_C/case1.txt
src/qual_2021_C/case2.txt
src/qual_2021_C/case3.txt
src/qual_2021_C/cases.txt
src/qual_2021_C/input.txt
src/qual_2021_C/Solution.java
src/qual_2021_C/Tester.java
src/qual_2021_D/Solution.java
src/qual_2021_D/Tester.java
src/qual*
src/round*
src/archive*
